# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# typescript
*.tsbuildinfo

# local assets & docs (not for deployment)
*.pdf
/download.png
/ef09f98e-*.png
/f049f14d37d05092b186f33cbdf224e9.jpg
/47.png
